.imgCard {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
  border-color: teal;
  border-width: 5%;
  border-style: solid;
}

.white {
  background-color: white;
  /* color: red; */
}

.red {
  background-color: rgb(226, 122, 157);
}
